* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
.container {
  padding-top: 100px;
  height: 100vh;
  width: 100%;
  background: #7f0bf4ff;
  display: flex;
  align-item: center;
  justify-content: center;
}
.input-box {
  width: 400px;
  max-width: 90%;
  position: relative;
}

.input-box input {
  width: 100%;
  height: 60px;
  padding: 0 20px;
  border: 1px solid #ccc;
  outline: #fff;
  color: #ffffff;
  background: transparent;
}
.input-box input::placeholder {
  color: #e0e0e0;
  opacity: 0.5;
}
button {
  background: transparent;
  border: 0;
  outline: none;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  top: 5.5%;
  transform: translateY(-50%);
  right: 15px;
}
button img {
  width: 35px;
}
#message {
  position: absolute;
  height: 50px;
  color: #fff;
  font-size: 15px;
}
::placeholder {
  font-size: 15px;
}
